<div class="page page-form-wizard">
    <!-- page header -->
    <div class="pageheader">
        <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Dispatches</a>
                </li>
                <li>
                    <a ui-sref="app.dispatch.dispatch_ride_request">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- page content -->
    <div class="pagecontent">
        <uib-tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step0:true,step1:true, step2:false, step3:false, step4:false, step5: false}">
            <uib-tab active="steps.step1">
                <uib-tab-heading>
                    Add a new customer
                    <span class="badge badge-default pull-right wizard-step">1</span>
                </uib-tab-heading>
                <div class="row">
                    <div class="col-md-4">
                        <section class="tile" fullscreen="isFullscreen01">
                            <div class="tile-header dvd dvd-btm">
                                <h3 class="custom-font"><strong>Choose customers from existing list</strong></h3>
                            </div>
                            <div class="tile-body">
                                <form name="step0" class="form-horizontal" role="form" novalidate class="form-validation" ng-submit="submitForm(step0.$valid);">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label for="customer_search">Search Existing Customers: </label>
                                            <input class="form-control" typeahead-editable="true" uib-typeahead="item.full_name for item in getExistingCustomers($viewValue)| limitTo:10" typeahead-on-select="onSelect($item, $model, $label)" type="text" class="searchInput" ng-model="search.full_name" required>
                                            <span ng-show="noresults" id="nocustomer" style="color:red"></span>
                                        </div>
                                    </div>
<!--                                     <button type="submit" ng-disabled=" !isChoosed || step0.$invalid" class="btn btn-default" ng-click="steps.step2=true">Continue w/o new customer</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    <button type="button" class="btn btn-default" ng-click='search.full_name = null' ng-disabled='search.full_name.length == 0 || step0.$invalid'>Clear</button>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-8">
                        <section class="tile" fullscreen="isFullscreen02">
                            <div class="tile-header dvd dvd-btm">
                                <h3 class="custom-font"><strong>Add New Customer</strong></h3>
                            </div>
                            <div class="tile-body">
                                <form name="step1" role="form" novalidate class="form-validation" ng-submit="funcAddCustomer(step1.$valid);">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="first_name">First Name: </label>
                                            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="customerInfo.first_name" required>
                                            <p class="help-block">
                                                <span ng-show="step1.first_name.$invalid && !step1.first_name.$pristine">First Name is required.</span>
                                            </p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="last_name">Last Name: </label>
                                            <input type="text" name="last_name" id="last_name" class="form-control" ng-model="customerInfo.last_name" ng-minlength="1" ng-maxlength="10" required>
                                            <p class="help-block">
                                                <span ng-show="step1.last_name.$invalid && !step1.last_name.$pristine">Last name is required.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label for="email">Email: </label>
                                            <input type="email" name="email" id="email" class="form-control" ng-model="customerInfo.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                                            <p class="help-block">
                                                <span style="color:red" ng-show="step1.email.$error.pattern">Not valid Email.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-0">
                                            <label for="mobile_number">Primary Phone Number: </label>
                                            <input type="text" placeholder="+1-541-754-3010" name="mobile_number" id="mobile_number" class="form-control" ng-pattern="phoneNumbr" ng-model="customerInfo.mobile_number" numbers-only required>
                                            <p class="help-block">
                                                <span style="color:red;" ng-show="step1.mobile_number.$error.minlength">Phone no not less that 10 char.</span>
                                                <span style="color:red;" ng-show="step1.mobile_number.$error.maxlength">Phone no not more than 11 char.</span>
                                                <br><span style="color:red;" ng-show="step1.mobile_number.$error.pattern">Please match pattern [+1-541-754-3010 || 1-541-754-3010]</span>
                                            </p>
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            <label for="organisation">Organisation: </label>
                                            <input type="text" placeholder="Organisation" name="organisation" id="organisation" class="form-control" ng-model="customerInfo.organisation" required>
                                            <p class="help-block">
                                                <span ng-show="step1.organisation.$invalid && !step1.organisation.$pristine">Organization is required.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default" ng-click="steps.step2=true">Add a new Customer</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Note<sup>*</sup>: You can choose a customer from the existing list OR you can create a new customer to make a trip.</span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab active="steps.step2" disable=" !isChoosed || step0.$invalid">
                <!-- disable="step0.$invalid || step1.$invalid"-->
                <uib-tab-heading>
                    Make a trip
                    <span class="badge badge-default pull-right wizard-step">2</span>
                </uib-tab-heading>
                <form name="step2" role="form" novalidate ng-submit="funcMakeTrip(step2.$valid);">
<!--                     {{customerId}} -->
                    <div class="row">
                        <div class="form-group col-md-4 mb-0">
                            <label for="name">Passenger Count:<sup>*</sup> </label>
                            <input type="text" name="passenger_count" id="passenger_count" class="form-control" ng-model="trip.passenger_count" required numbers-only>
                            <p class="help-block">
                                <span ng-show="step2.passenger_count.$invalid && !step2.passenger_count.$pristine">Passenger Count is required.</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-4 mb-0">
                            <strong>Pick-up Date</strong>
                            <div class="tile-body" ng-controller="DatepickerCtrl">
                                <!--                                 <pre class="alert alert-info mt-20">Selected date is: <em>{{trip.pickupdate | date:'dd-MM-yyyy' }}</em></pre> -->
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="trip.pickupdate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                      </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-4 mb-0">
                            <strong>Pick-up Time</strong>
                            <div class="tile-body" ng-controller="TimepickerCtrl">
                                <uib-timepicker ng-model="trip.pickuptime" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="ismeridian" required></uib-timepicker>
                                <button class="btn btn-sm btn-default" ng-click="clear()">Clear</button>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            <label><strong>Pick up point</strong></label>
                            <br/>
                            <div>
                                <input type="text" name="pickup" id="pickup" class="form-control" placeholder="Enter the address" ng-model="pickup.name" vs-google-autocomplete vs-latitude="pickup.components.location.lat" vs-longitude="pickup.components.location.long" required>
                            </div>
                            <!--                             <span class="help-block"><b>place: </b>{{pickup.name}}</span>
                            <span class="help-block"><b>Latitude: </b>{{pickup.components.location.lat}}</span>
                            <span class="help-block"><b>Longitude: </b>{{pickup.components.location.long}}</span> -->
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            <label><strong>Drop off point</strong></label>
                            <br/>
                            <input ng-model="dropoff.name" type="text" name="dropoff" id="dropoff" class="form-control" placeholder="Enter the address" vs-google-autocomplete vs-latitude="dropoff.components.location.lat" vs-longitude="dropoff.components.location.long" required>
                            <!--                             <span class="help-block"><b>place: </b>{{dropoff.name}}</span>
                            <span class="help-block"><b>Latitude: </b>{{dropoff.components.location.lat}}</span>
                            <span class="help-block"><b>Longitude: </b>{{dropoff.components.location.long}}</span> -->
                        </div>
                    </div>
                    <hr>
                    <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default" ng-click="steps.step3=true">Make a Trip</button>
                </form>
            </uib-tab>
            <uib-tab active="steps.step3" disable="step2.$invalid">
                <uib-tab-heading>
                    Select Vehicle
                    <span class="badge badge-default pull-right wizard-step">3</span>
                </uib-tab-heading>
                <form name="step3" role="form" novalidate ng-submit="funcGetRoute();">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="trip_summary">
                                <h3><strong>Trip Summary:</strong></h3> </label>
                            <br>
                            <span>{{tripsummary.pickupdatetime| date:"dd/MM/yyyy"}}{{", "}}{{tripsummary.pickupdatetime| date:"hh:mm a"}}</span>
                            <br>
                            <span><img src="images/source_marker.9db0b1d4.png" style="width:4%">{{tripsummary.pickupAt}}</span>
                            <br>
                            <span><img src="images/destination_marker.23597b9e.png" style="width:4%">{{tripsummary.dropoffAt}}</span>
                        </div>
                      </div>
                       <div class="row">
                        <div class="form-group col-md-12">
                            <div>
                                <div id="dvMap" style="width: 100%; height: 400px"></div>
                                <!--<div id="dvPanel" style="width: 500px; height: 500px"></div> -->
                            </div>
                        </div>
                    </div>
                    <div>
                    <label for="vehicle_type">
                                <h3><strong>Please select your vehicle:</strong></h3> </label>
                        <ul style="list-style:none;">
                            <li ng-repeat="vehicle in vehicleType">
                                <div class="row" ng-style="{ 'border':'solid 1px #DCDCDC','padding':'12px'}">
                                    <div class="form-group col-md-2">
                                    </br>
                                        <img src='images/limocar.7a7b83df.jpg' style="width:100%;height:100%">
                                        <br/>
                                        <i class="fa fa-male fa-1g">&nbsp;&nbsp;&nbsp; {{vehicle.capacity}}</i>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <h2> {{vehicle.name}}</h2>
                                        <p>{{vehicle.description}}</p>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <h2><strong>$57.25</strong></h2>
                                        <p>rate details</p>
                                        <button>Book now</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
                </br>
            </uib-tab>
        </uib-tabset>
    </div>
    <!-- /page content -->
</div>
