<div class="page page-signup" id="googleMap">
    <div class="col-xs-12 splash_header">
        <li class="dropdown nav-profile" list-style:none uib-dropdown>
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <img class="setting_icon" src="images/driver/menu-icon.png"/>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#profile" ui-sref="core.profile.my_account">
                        <fa name="user"></fa>Profile
                    </a>
                </li>
                <li>
                    <a href="#" ui-sref="core.profile.availability">
                        <fa name="cog"></fa>Availability
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#logout" ui-sref="drivers.logout">
                        <fa name="sign-out"></fa>Logout
                    </a>
                </li>
            </ul>
        </li>
        <img src="images/driver/bird-logo.png" style="width:50%">
    </div>
   <div id="dvMap" style="width: 100%; height: 400px"></div>
  
</div>



