<header>
    <div id="wrapper">
    <nav id="navbar2" class="navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand home homescreen_logo"><img src="images/driver/map_logo.png" style="width: 100%;
                            margin-left:-10%"></a>
                    <div type="button" class="btn mb-10 btn-dispatch">
                        <a href="http://limologix.softwaystaging.com" style="text-decoration:none !important"><b class = 'text-white'>Dispatch</b></a>
                    </div>
                    <button type="button" class="navbar-toggle nav-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"></button>
                </div>               
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav" role="menu" uib-dropdown>
                        <li>
                            <a href="#profile" ui-sref="core.profile.my_account">
                                <fa name="user"></fa>&nbsp;&nbsp;Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" ui-sref="core.profile.reset_password">
                                <fa name="lock"></fa>&nbsp;&nbsp;Reset Password
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#logout" ui-sref="core.logout">
                                <fa name="sign-out"></fa>&nbsp;&nbsp;Logout
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
    </nav>  
</div>
</header>
 <img id="spinner1" src="images/driver/mapLoader.gif" />
<div class="page-signup" id="googleMap" style="height:100%">     
   
    <div id="dvMap" style="width: 100%;position:'';top:14% !important"></div>

    <div id="slide_cont" style="display:none;">
        <img src="{{imagePath}}{{imgsArr[0]}}" id="slideshow_image">

        <fa name = 'times-circle-o ad_close' ng-click="funcCloseAds()"></fa>
        <fa name = 'chevron-circle-left adsLeftArrow' id="prev_image"></fa>
        <fa name = 'chevron-circle-right adsRightArrow' id="next_image"></fa>
        <input type="hidden" id="img_no" value="0">
    </div>    
    
</div>
 <footer ng-show="deviceOnline">
 <div class="footer-text" style="background-color:#000;">
       <div> 
        <div class="driverName text-white text-uppercase">{{driver_name}}</div>
        <div ng-init="init()" class = 'switchClass'>
            <i class="fa fa-toggle-on active" ng-if="status == true" ng-click="funcGetVisibleStatus();" style="margin-right:15px"></i>
            <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="status == false" ng-click="funcGetVisibleStatus();" style="margin-right:15px"></i>
        </div></div>
        <div class="company_name" style="text-transform: capitalize;"><b>{{company_name}}</div>
    </div>
</footer>


