<header>
    <div class="col-xs-12 splash_header" style="padding:25px;">
        <img src="images/driver/header_logo.png">
    </div>    
</header>


<div class="page page-signup"> 
	<img id="spinner1" src="images/driver/mapLoader.gif" />
    <div id="dvMap_boarded" class='dvMap2' style="width:100%;"></div>
    

</div>
<!-- Modal -->
<div class="modal fade" id="boardedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:999999">
  <div class="boarded_modal-dialog">
    <div class="boarded_modal-content">
      <div class="modal-header">
        <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Trip Information</h4>
      </div>
      <div class="modal-body">
        <label>Customer Name:</label>{{tripinfo.full_name}}<br/>
        <label>Pickup Date:</label>{{tripinfo.pick_up_at | date:'dd/MM/yyyy'}}<br/>
        <label>Pickup Time:</label>{{tripinfo.pick_up_at | date:'hh:mm a'}}<br/>
        <label>Pickup Place:</label>{{tripinfo.start_destination.place}}<br/>
        <label>Dropoff Place:</label>{{tripinfo.end_destination.place}}<br/>
        <label>Price: $</label>{{tripinfo.price}}<br/>
        <label>Additional Note:</label>{{tripinfo.note}}<br/>
        <label>Vehicle Type:</label>{{tripinfo.vehicle_type.name}}<br/>
      </div>
    <!--   <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<footer>
<div class="row">
	  <div class="col-xs-12">
            <button type="button" id="tripDetailsBtn" class="b1 text-white btn input-lg"  data-toggle="modal" data-target="#boardedModal">TRIP INFORMATION</button>
        </div>
        <div class="col-xs-12">
            <button type="button" id="boardedBtn" ng-disabled="!bool.isBoardedBtnVisible" class="b1 text-white btn input-lg" ng-click="passenger_boarded()">ARRIVED AND PASSENGER BOARDED </button>
        </div>
    </div></footer>
