<header>
    <div class="col-xs-12 splash_header" style="padding:25px;">
        <img src="images/driver/header_logo.png">
    </div>    
</header>
 <img id="spinner" src="images/driver/loader.gif" style="display:none">
<div class="page page-signup">        
    <div id="dvMap_arrived" class='dvMap2' style="width:100%;"></div>
</div>
<footer>
    <div class="row ">
        <div class="col-xs-12">
            <button type="button" id="arrivedBtn" ng-disabled = '!bool.isArrived' class="b2 text-white btn input-lg" ng-click="passenger_arrived()">PASSENGER ARRIVED AT DESTINATION</button>
        </div>
    </div>
</footer>