<div class="page page-signup">
    <div id="wrapper">
        <nav id="navbar2" class="navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand home"><img src="images/driver/bird-logo.png"></a>
                    
                </div>
                
            </div>
        </nav>
    <div id="dvMap_arrived" class='dvMap2' style="width:100%;"></div>
    <div class="row ">
        <div class="col-xs-12">
            <button type="button" id="arrivedBtn" ng-disabled = '!isArrived' style="width:100%;margin:0px;height:60px;" class="b2 text-white btn btn-default btn-lg input-lg" ng-click="passenger_arrived()">PASSENGER ARRIVED AT DESTINATION</button>
        </div>
    </div>
</div>
</div>