<header>
    <div class="col-xs-12 splash_header" style="padding:25px;">
        <img src="images/driver/header_logo.png">
    </div>    
</header>


<div class="page page-signup"> 
    <div id="dvMap_boarded" class='dvMap2' style="width:100%;"></div>
    

</div>
<footer>
<div class="row">
        <div class="col-xs-12">
            <button type="button" id="boardedBtn" ng-disabled="!bool.isBoardedBtnVisible" class="b1 text-white btn input-lg" ng-click="passenger_boarded()">ARRIVED AND PASSENGER BOARDED </button>
        </div>
    </div></footer>
