<div class="page page-signup page-login" style='height: 100%;'>
        

       <div id="wrapper">
        <nav id="navbar2" class="navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                     <i class="fa fa-angle-left nav_back_btn" aria-hidden="true" back></i>
                    <a href="#" class="navbar-brand home"><img src="images/driver/bird-logo.png"></a>
                   
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="position:absolute;right:3%;top:1%">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>               
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav" role="menu" uib-dropdown>
                         <li>
                            <a href="#home" ui-sref="core.home">
                                <fa name="home"></fa>Home
                            </a>
                        </li>
                        <li>
                            <a href="#profile" ui-sref="core.profile.my_account">
                                <fa name="user"></fa>&nbsp;&nbsp;Profile
                            </a>
                        </li>
                       <!--  <li>
                            <a href="#" ui-sref="core.profile.availability">
                                <fa name="cog"></fa>&nbsp;&nbsp;Availability
                            </a>
                        </li> -->
                        <li>
                            <a href="#" ui-sref="core.profile.reset_password">
                                <fa name="lock"></fa>&nbsp;&nbsp;Reset Password
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#logout" ui-sref="core.logout">
                                <fa name="sign-out"></fa>&nbsp;&nbsp;Logout
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- </div> -->
            </div>
        </nav>
 
<!-- 
        <div class="container">
        <div class="navbar-header">
        <i class="fa fa-angle-left nav_back_btn" aria-hidden="true" back></i>
        <a href="#" class="navbar-brand"><img src="images/driver/bird-logo.png"></a>
        <div uib-dropdown>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" uib-dropdown-toggle>
                <a href class="dropdown-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
            </button>
            <ul class="dropdown-menu" role="menu" uib-dropdown>
                <li>
                    <a href="#home" ui-sref="core.home">
                        <fa name="home"></fa>Home
                    </a>
                </li>
                <li>
                    <a href="#profile" ui-sref="core.profile.my_account">
                        <fa name="user"></fa>Profile
                    </a>
                </li>
                <li>
                    <a href="#" ui-sref="core.profile.availability">
                        <fa name="cog"></fa>Availability
                    </a>
                </li>
                 <li>
                        <a href="#" ui-sref="core.profile.reset_password">
                            <fa name="unlock"></fa>Reset Password
                        </a>
                    </li>
                <li class="divider"></li>
                <li>
                    <a href="#logout" ui-sref="core.logout">
                        <fa name="sign-out"></fa>Logout
                    </a>
                </li>
            </ul>
            </div>
            
        </div>
        </div> -->

        <div class="container text-center">
            <div class="col-xs-12">
                <form name='step4' class="form-validation mt-20" novalidate>
                    <h2 class="text-light text-white">Account Options</h2>
                    <br/>
                    <br/>
                    <div ng-init="init()">
                    <div class="well">
                        <i class="fa fa-toggle-on active" ng-if="status == true" ng-click="funcGetVisibleStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="status == false" ng-click="funcGetVisibleStatus();"></i>
                    </div>
                    <!-- <pre>{{ status }}</pre> -->
                    <div class="row">
                    <div class="col-md-12">
                        <div class="col-xs-12 previous">
                            <button type="button" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="save_status()">Save</button>
                        </div>
                    </div>
                </div>
                </div>
                
                </form>
            </div>
        </div>
        <br/>
    </div>
</div>
