<div class="page page-form-wizard">
    <!-- page header -->
    <div class="pageheader">
        <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Profile</a>
                </li>
                <li>
                    <a ui-sref="app.profile.reset_password">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- page content -->
    <div class="pagecontent">
        <div class="col-md-6">
            <section class="tile">
                <!-- <div class="tile-header dvd dvd-btm"> -->
                <h3 class="custom-font"><strong>Reset Password</strong></h3>
                <div class="tile-body">
                    <form name="resetForm" role="form" novalidate class="form-validation" ng-submit="funcresetPassword(resetForm.$valid);">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="userName">Username: </label>
                                <input type="text" placeholder="User name" name="userName" class="form-control" ng-model="resetPwd.userName" required>
                                <p class="help-block">
                                    <span ng-show="resetForm.userName.$invalid && !resetForm.userName.$pristine">User name is required.</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="password">New Password: </label>
                                <input type="password" placeholder="Password" name="password" class="form-control" ng-model="resetPwd.password" required>
                                <p class="help-block">
                                    <span ng-show="resetForm.password.$invalid && !resetForm.password.$pristine">Password is required.</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="cnfpassword">Confirm Password: </label>
                                <input type="password" placeholder="Confirm Password" name="cnfpassword" class="form-control" ng-model="resetPwd.cnfpassword" ui-validate=" '$value==resetPwd.password' " ui-validate-watch=" 'resetPwd.password' " required>
                                <p class="help-block">
                                    <span ng-show='resetForm.cnfpassword.$error.validator'>Passwords do not match!</span>
                                </p>
                            </div>
                        </div>
                        <button type="submit" ng-disabled="resetForm.$invalid" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!-- /page content -->
</div>
