.splash_Container {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 32%;
    height: 100%;
}

.splash_company {
    background-color: rgb(38, 34, 98);
    color: #fff;
    font-size: 40px;
    text-align: center;
    //height: 50%;
    // position: relative;
    //chrome
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(38, 34, 98) 0%, rgb(11, 0, 47) 100%);
    //Firefox
    //-moz-radial-gradient(center, ellipse cover, rgb(38,34,98) 0%, rgb(11,0,47) 100%);
}

.splash_driver {
    background-color: #16a085 !important;
    color: #fff;
    font-size: 40px;
    text-align: center;
    //height: 50%;
    //position: relative;
    //chrome
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(0, 96, 95) 0%, rgb(0, 62, 64) 100%);
    //firefox
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(0, 96, 95) 0%, rgb(0, 62, 64) 100%);
}

.splash_company span {
    position: relative;
    left: 15%;
}

.splash_driver span {
    top: 25%;
    position: relative;
    left: 15%;
}

.color_white {
    color: #ffffff;
}

.whiteBg {
    background-color: #ffffff;
}

#dlImg,
#araImg {
    border: 2px solid #fff;
    width: 54px;
    height: 58px;
}

.form-tp {
    position: relative;
    top: 30px;
}

.signup {
    position: relative;
}

.splash_header {
    background-color: white;
    text-align: center;
    height: 100%
}

//Visible - switch toggle
.visible_status {
    background: url('../images/driver/toggle-inactive.png');
    width: 148px;
    height: 75px;
}

.visible_status.checked {
    background: url('../images/driver/toggle-active.png');
    border-color: none;
    width: 148px;
    height: 75px;
}

.switch {
    border: 0px;
}

.switch small {
    background: none !important;
    border-radius: 0px;
    box-shadow: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}

.setting_icon {
    position: absolute;
    right: 35px;
    font-size: 60px;
}

.appClick {
    position: relative;
    top: 60px
}

.AppText {
    position: relative;
    top: 150px;
}

.fs_30 {
    font-size: 30px;
    position: relative;
    top: 68px;
}

#map-canvas {
    height: 100%;
}

#map-canvas {
      height: 100%;
      width: 100%;
}
#dvMap{
    pointer-events:none;
}
.requestScreenText {
    font-size: 30px;
    position: relative;
    top: 25px;
    text-align: center;
    vertical-align: middle;
}

.requestScreenText1 {
    font-size: 30px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top:90px;
}
.userName{
    font-size: 30px;
    margin-top:75px;
}

.b1,.b2 {
    margin: 10px;
    border-radius:2px;
    margin-top:135px;
}
.dvMap{
    top: 45px;
    border-radius: 50%;
}
#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
    height: 100%;
    width:100%;
    text-align: right;
    line-height: 30px; 
    background-color: #ff4a43;
}