html, body { height:100%;  -webkit-font-smoothing: antialiased; -webkit-user-select:none;}

header { position:fixed; width:100%; top:0; z-index:9999 }
.content_body { padding: 40px 0;background-color:#e7eaeb;}
footer { position:fixed; width:100%; bottom:0; line-height:3rem; }


::-webkit-input-placeholder {
    color: #D5D8D9 !important;
    text-align:left;
    font-style: normal !important;
}
.form-control{
  border-color: #000;
}
.form-validation .form-control.ng-dirty.ng-valid {
    border-color: #000; 
}
.form-validation .form-control.ng-dirty.ng-invalid {
    border-color: #ff7b76; 
}
.input_border{
    border:1px solid #000;
}

#spinner{
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -50px 0px 0px -50px;
    z-index: 9999;
}

.unfixed {
    position: relative;
    left: auto;
    bottom: auto;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.splash_Container {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 32%;
    height: 100%;
}

.splash_company {
    background-color: #fff !important;
    
    border-bottom: 1px solid #000;
    font-size: 40px;
    text-align: center;
    //height: 50%;
    // position: relative;
    //chrome
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(38, 34, 98) 0%, rgb(11, 0, 47) 100%);
    //Firefox
    //-moz-radial-gradient(center, ellipse cover, rgb(38,34,98) 0%, rgb(11,0,47) 100%);
    
}

.splash_driver {
    background-color: #f7f7f8 !important;
    
    font-size: 40px;
    text-align: center;
    //height: 50%;
    //position: relative;
    //chrome
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(0, 96, 95) 0%, rgb(0, 62, 64) 100%);
    //firefox
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(0, 96, 95) 0%, rgb(0, 62, 64) 100%);
}

.splash_company span {
    position: relative;
    left: 15%;
}

.splash_driver span {
    top: 25%;
    position: relative;
    left: 15%;
}

.color_white {
    color: #ffffff;
}

.whiteBg {
    background-color: #ffffff;
}

.nav-toggle{
    position: absolute;
    left: 85%;
    background: url('../images/driver/menu-icon-img-1.png') no-repeat;
    width: 100%;
    height: 50px;
    border: none;
}

#dlImg,
#araImg,#insuranceImg {
    border: 2px solid #000;
    width: 54px;
    height: 58px;
}

.form-tp {
    position: relative;
    top: 30px;
}

.signup {
    position: relative;
}

.splash_header {
    background-color: white;
    text-align: center;
    height: 100%;

    border-bottom-color: #e0e0e2;
    border-bottom: 2px solid #e0e0e2;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 4px 12px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 12px 0px rgba(0,0,0,.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    padding-bottom: 25px;
    z-index:999;
}

.login_header {
    background-color: white;
    text-align: center;
}


//Visible - switch toggle
.visible_status {
    background: url('../images/driver/toggle-inactive.png');
    width: 148px;
    height: 75px;
}

.visible_status.checked {
    background: url('../images/driver/toggle-active.png');
    border-color: none;
    width: 148px;
    height: 75px;
}

.switch {
    border: 0px;
}

.switch small {
    background: none !important;
    border-radius: 0px;
    box-shadow: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}

.setting_icon {
    position: absolute;
    right: 35px;
    font-size: 60px;
}

.appClick {
    width: 100%;
    margin-top: 20px;    
}

.AppText {
    position: relative;
    top: 150px;
}

.fs_30 {
    font-size: 30px;
    height:auto;
    width:auto;
    margin-top:50%;
}

#map-canvas {
    height: 100%;
}

#map-canvas {
      height: 100%;
      width: 100%;
}

.requestScreenText {
    font-size: 18px;   
    top: 0;
    text-align: center;
    width: 100%;
    overflow:hidden;
    clear:both;
    display:block;
}

.requestScreen_pickup_point {
    font-size: 17px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin:0;
}
.userName{
    font-size: 30px;
    margin-top:75px;
}

.b1{
    float:left;
    left:15%;
    width:90%;    
}

.b2 {
    float:right;
    right:15%;
    width:90%;
}


.dvMap_circle{
    position: relative;
    
    border-radius: 50%;
    border:10px double #d7d4ce;
}



#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
    height: 100%;
    width:100%;
    text-align: right;
    line-height: 30px; 
    background-color: #ff4a43;
}

li{
    list-style-type: none;
}
.navbar-header{
    background: #ffffff;
}
.navbar-toggle{
    margin-right: 0px;
    margin-top:17px;
}
.navbar-toggle .icon-bar{
    width: 40px;
    height: 3px;
    border-radius: 0px;
    background: rgb(38,34,98); 
    background: -moz-radial-gradient(center, ellipse cover, rgb(38,34,98) 0%, rgb(11,0,47) 100%); 
    background: -webkit-radial-gradient(center, ellipse cover, rgb(38,34,98) 0%,rgb(11,0,47) 100%); 
    background: radial-gradient(ellipse at center, rgb(38,34,98) 0%,rgb(11,0,47) 100%);
}
.navbar-brand{
    padding: 9px 0px 0px;
    width: 80%;
    pointer-events:none;
}
.navbar-brand img {
    height: 100%;
    float: none;
    margin: auto;
}
.dropdown-menu{
    top: 60px;
    right: 0;
    left: auto;
}
footer-text{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(38,34,98); 
    background: -moz-radial-gradient(circle, rgb(38,34,98) 0%, rgb(11,0,47) 100%); 
    background: -webkit-radial-gradient(circle, rgb(38,34,98) 0%,rgb(11,0,47) 100%); 
    background: radial-gradient(circle, rgb(38,34,98) 0%,rgb(11,0,47) 100%);
}
.footer-text p{
    position:relative;
    top:10px;
    padding: 0px 40px 2px;
    color:#ffffff;
    font-weight: normal;
    font-size: 35px;
}
.dvMap2{
    position:relative;
   
}
.dvMap_arrived{
    position:relative;
    
}
.timer-container{
    width:100%;
    height:50px;
    background-color:#A52A2A;
}
#progress-bar {
    width: 0;
    background: #800000;
    height:50px;
    text-align: center;
}

.pickUpText{
    position: absolute;
    top: 37%;
    right: 3%;
    width: 60%;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.nav_back_btn{
    position: absolute;
    font-size: 50px;
    left: 18px;
    top: 29px;
}
a.company{
    text-decoration:none;
}
.active, .inactive {
    font-size:40px;
    cursor:pointer;
}
.active, .inactive {
    font-size:40px;
    cursor:pointer;
}
i.active { 
    color: #5cb85c
}
i.inactive {
    color: #d9534f
}
.home {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 9px 0px 0px 10px;
    width: 90%;
    pointer-events: none;
}
.homeToggle {
    margin-right: 0px;
    top: 10%;
    padding: 9px 10px;
    position: absolute;
    right: 14px;
}
.saveAndNext{
    position:absolute;
    right:-100px;
}


p.comp_name {
        color: #ffffff;
        margin-left: 38px;
        margin-top: -19px;
        
        font-weight: normal;
        font-size: 20px;
    }
.dispatchBtn{
    position: absolute;left:3px;top: 15px;text-decoration: none !important;
     background: rgb(38,34,98); 
    background: -moz-radial-gradient(circle, rgb(38,34,98) 0%, rgb(11,0,47) 100%); 
    background: -webkit-radial-gradient(circle, rgb(38,34,98) 0%,rgb(11,0,47) 100%); 
    background: radial-gradient(circle, rgb(38,34,98) 0%,rgb(11,0,47) 100%);
}

    .imageCenter {
        position: absolute;
        width:100%;
    }
    #prev_image,#next_image{
        width:40px;
        height:40px;
    }
    #slide_cont {
        background-color: #f0ede5;
        width: 100%;
        height: 250px;
        position:absolute;
    }
    
    #slideshow_image {
    position:absolute;
        width: 300px;
        height: 250px;
    }
    
    .adsLeftArrow {
        position: absolute;
        top: 45%;
        left: 3.5%;
        font-size: -webkit-xxx-large;
    }
    
    .adsRightArrow {
        position: absolute;
        top: 45%;
        right: 3.5%;
        font-size: -webkit-xxx-large;  
    }
    
    .close {
        position: absolute;
        top: -7%;
        right: 0px;
        font-size: -webkit-xxx-large;
        opacity:0.5 !important;
    }
    fa icon-close{
       color:#262262;
    }
    .company_name{
    clear:both;
       padding-bottom:1%;
       margin-left:5%;
       font-size:18px;

    }



#navbar2 .navbar-header {
    float: none;
    padding: 15px !important;
}

#navbar2 .navbar-toggle {
    display: block;
}

#navbar2 .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
}

#navbar2 .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

#navbar2 .navbar-form {
    float: none !important;
    padding: 0;
}

#navbar2 .navbar-nav>li {
    float: none;
}

#wrapper {
    position: relative;
    right: 0;
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse {
    position: fixed;
    top: 0;
    right: -50%;
    display: block;
    width: 50%;
    height: 100% !important;
    margin: 0;
    background-color: #000;
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse.collapsing {
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse.in {
    right: 0;
}

body.menu-slider.in {
    overflow: hidden;
}

body.menu-slider #wrapper {
    transition: right 0.35s ease;
}

body.menu-slider.in #wrapper {
    right: 50%;
}

.buttonBoarded{
    background-color:#8DC23F !important;
}
.buttonArrived{
    background-color:#8DC23F !important;
}
#progress{
 position:fixed;
 width:100%;
 bottom:0px;
}

#boardedBtn{
    font-size:18px;width:100%;margin:0px;height:60px;background-color:#000;color:#fff !important;
}
#arrivedBtn{
    font-size:18px;width:100%;margin:0px;height:60px;background-color:#000;color:#fff !important;
}
.fake_div {
    background-color: #262262;
    height:50px;
    width:100%;
}
.nav-icon{
    float: left;
    position: absolute;
    top: -5px;
    left: -50%;
    height: 55px;;
}

//login screen
.login_name{
    color:#3f3e40;
    font-size:45px !important;
}

.btn-submit{
    width:100%;
    background-color:#92c232;
    color:#fff;
    font-size:25px;
    border:1px solid #000;
    border-bottom:4px solid #435c1e;
}
.btn-next{
    color: #fff;
    background-color: #8dc23f;
    font-size: 25px;
    border: 1px solid #000;
    border-bottom: 5px solid #4e7e36;
    width:100%;
    height:100%
}


.info_title{
    font-size: 30px;
    margin-top: 30%;
}
//Home screen

.switchClass{
    padding-top:1%;
    float: right;
    right:5%; 
}
.driverName{

    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:3%;
    float:left;
    margin-left:5%;
    font-size:22px;
}

.active, .inactive {
    font-size:40px;
    cursor:pointer;
}
.active, .inactive {
    font-size:40px;
    cursor:pointer;
}
i.active { 
    color: #5cb85c;
}
i.inactive {
    color: #d9534f;
}
//App setting
.limo_logo{
    position:relative;
    left: 35%;
    margin-top:30%;
}
.instruction{
    font-size: 25px;
    margin-top: 12%;
    margin-left: 0%;
    text-align: center;
    width: 100%;
    color: #000;
}
.dispatchBtn{
    position: absolute;left:3px;top: 15px;text-decoration: none !important;background-color:#000 !important;
}
.homescreen_logo{
    width: 50%;
    height: 70%;
    margin-left: 30%;
    margin-top: 3%;
    
}

.companyNameClass{
    font-size: 22px;
    float: left;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5em;
    text-transform:capitalize;
}
.customerNameClass{
    font-size: 22px;
    float: right;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5em;
    text-align:right;
    text-transform:capitalize;
}

.dvMap_circle .gm-style{
    border-radius:50%;
}

#progressCountdown > .ui-progressbar-value
{  
    background: #751015;
}
    
.ui-widget-content{
  background : red !important;
  border:none;
}

.ui-widget-header{
    border:none !important;
}

.ui-progressbar {
    height: 3em;
    text-align: left;
    overflow: hidden;    
}
.count{
    position: absolute;
    top: 20%;
    left:50%;
    color: blue;
    font-size:2em;
    color:#ffffff;
}
.calBtn{
    height: 29px;
    width: 30px;
}
.browseWidth{
    width:100%;
}
.previousBtn{
     position:absolute;
     left:10px;
}
.saveAndNextBtn{
     position:absolute;
     right:-94%;
}
.btn-dispatch{
        position: absolute;
    left: 3px;
    top: 30px;
    text-decoration: none !important;
    background-color: #8dc23f !important;
    border: none;
    border-bottom: 5px solid #558738;
}

.btn-container{
    position: relative;
    top: 35%;
    font-size: 18px;
    height: 80%;
    background-color: #231f20;
}
.btn-app-green{
    background-color:#8DC23F;
    border: 1px solid #000;
    border-bottom: 5px solid #55873B;
    color:#fff !important;
    font-size:15px;
    font-weight:bold;
}
.btn-app-red{
    background-color:#e31e29;
    border: 1px solid #000;
    border-bottom: 5px solid #991828;
    color:#fff !important;
    font-weight:bold;
}
.fixed-head{
    position:relative;
}
.fixed-footer{
    position:absolute;
    bottom:100px;
    padding:0 5px;
    left:0;
    right:0;
    text-align:center;
}

