<div class="page page-signup">
    <div class="container">
        <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="images/driver/bird-logo.png"></a>
        <div uib-dropdown>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" uib-dropdown-toggle>
                <a href class="dropdown-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
            </button>
            <ul class="dropdown-menu" role="menu" uib-dropdown>
                <li>
                    <a href="#profile" ui-sref="core.profile.my_account">
                        <fa name="user"></fa>Profile
                    </a>
                </li>
                <li>
                    <a href="#" ui-sref="core.profile.availability">
                        <fa name="cog"></fa>Availability
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#logout" ui-sref="drivers.logout">
                        <fa name="sign-out"></fa>Logout
                    </a>
                </li>
            </ul>
            </div>
            
        </div>
    </div>
    <div>
        <p class="requestScreenText text-white">You have got a ride request</p>
    </div>
    <div id="dvMap" class='dvMap_circle' style="width: 100%;height:300px;"></div>
    <p class='requestScreen_pickup_point text-white'>{{tripsummary.pickupAt}}</p>
    <div class="row" style="margin-left: 30px;">
        <div class="col-xs-6">
            <button type="button" class="b1 text-white btn btn-green btn-rounded btn-lg col-md-12 input-lg" ng-click="Personal_previous() ">ACCEPTED</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="b2 text-white btn btn-red btn-rounded btn-lg col-md-12 input-lg" ng-click="Personal_Next()" ng-disabled='step2.$invalid'>DENY</button>
        </div>
    </div>
    <div class="timer-container">
        <div id="progress-bar">
            <h1><span id="js-Visit-count">0</span></h1>
        </div>
    </div>
</div>
