<header>
    <div class="col-xs-12 splash_header">
          <img src="images/driver/header_logo.png">
    </div>
</header>
<div class="content_body">
 <div>    
    <img class="limo_logo" src="images/driver/logo.png"/>
    <p class='instruction'>Once online you’ll receive trip request. Make sure to pay attention to your phone you will only have 14 seconds to accept requests.
            </p>
   
        <div class="col-xs-12">
            <button ng-click="go_online()" class="appClick btn mb-10 btn-app-green">
                <h3 style="font-size:24px">Go online</h3>
            </button>
        </div>
   
    <br/> <br/> <br/> <br/>
</div>
</div>
