<div class="page page-signup page-login">
 <div class='row'>
    <div class="col-xs-12 splash_header">
            <img src="images/driver/bird-new-driver-logo.png" style="width:100%">
    </div>
    <div class="container text-center">
        <div class="col-xs-12">
            <button ng-click="go_online()" class="appClick text-white btn btn-red mb-10">
                <h3>Click here to go online</h3>
            </button>
        </div>
<!--         <button class="appClick text-white btn btn-red mb-10" ng-click="go_online()">Click Me!</button> -->
        <p class='fs_30 text-white'>Once online you’ll receive trip request. Make sure to pay attention to your phone you will only have 14 seconds to accept requests.
            </p>
    </div>
    <br/>
</div>
</div>