<div class="page page-signup page-login">
 <div>
    <div class="col-xs-12 splash_header" style="padding:10px">
            <img src="images/driver/header_logo.png">
    </div>
    <img class="limo_logo" src="images/driver/logo.png"/>
    <p class='instruction'>Once online you’ll receive trip request. Make sure to pay attention to your phone you will only have 14 seconds to accept requests.
            </p>

   
        <div class="col-xs-12">
            <button ng-click="go_online()" class="appClick text-white btn btn-red mb-10" style="background-color:#da1922 !important">
                <h3>Click here to go online</h3>
            </button>
        </div>

   
    <br/>
</div>
</div>


<!-- <div class="page page-signup page-login">
 <div class='row'>
    <div class="col-xs-12 splash_header">
            <img src="images/driver/bird-new-driver-logo.png" style="width:100%">
    </div>
    <div class="container text-center">
        <div class="col-xs-12">
            <button ng-click="go_online()" class="appClick text-white btn btn-red mb-10">
                <h3>Click here to go online</h3>
            </button>
        </div>
        <p class='fs_30 text-white'>Once online you’ll receive trip request. Make sure to pay attention to your phone you will only have 14 seconds to accept requests.
            </p>
    </div>
    <br/>
</div>
</div> -->