<div class="page page-signup page-login">
    <div class="app-header">
        <img src="images/driver/bird-new-driver-logo.png" style="width:100%">
    </div>
    <br/>
    <br/>
    
    <div class="container text-center signup">
        <form name='step1' class="form-validation mt-20 form-tp" novalidate ng-show="isContact">
            <h2 class="text-light text-white">Contact Information</h2>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="text" name="fullName" id="fullName" class="form-control input-lg" placeholder="Full Name" ng-model="contact.fullName" required>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="text" name="lastName" id="lastName" class="form-control input-lg" placeholder="Last Name" ng-model="contact.lastName" required>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="email" name="email" id="email" class="form-control input-lg" ng-model="contact.email" placeholder="Email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    </div>
                    <p class="help-block">
                        <span style="color:red" ng-show="step1.email.$error.pattern">Not valid Email.</span>
                    </p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="contact.password" required>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Re Enter Password" ng-model="contact.confirmPassword" ui-validate=" '$value==contact.password' " required>
                        <p class="help-block">
                            <span style="color:red" ng-show="step1.confirmPassword.$error.validator">Passwords do not match!</span>
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="text" placeholder="Mobile phone" name="primary_phone_number" id="primary_phone_number" class="form-control input-lg" ng-pattern="phoneNumbr" ng-model="contact.primary_phone_number" numbers-only required>
                        <p class="help-block">
                            <br><span style="color:red;" ng-show="step1.primary_phone_number.$error.pattern">Please match pattern [541-754-3010]</span>
                        </p>
                    </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-6">
                        <input type="text" placeholder="Primary Adrress" name="primary_address" id="primary_address" class="form-control input-lg" ng-model="contact.primary_address" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="City" name="city" id="city" class="form-control input-lg" ng-model="contact.city" required>
                    </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-6">
                        <select placeholder="State" name="state" id="state" class="form-control input-lg" ng-model="contact.state" ng-options="o as o for o in options" required></select>
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Zipcode" name="zipcode" id="zipcode" class="form-control input-lg" ng-model="contact.zipcode" required>
                    </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="col-xs-6 previous">
                    <button type="button" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="save_contactInfo()">Save &nbsp;<span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
                <div class="col-xs-6 next">
                    <button type="button" class="text-white btn btn-success form-group col-md-12 input-lg" ng-click="Contact_Next()">Next &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
        <form name='step2' class="form-validation mt-20 form-tp" novalidate ng-show="isPersonal">
            <h2 class="text-light text-white">Personal Information</h2>
            <br/>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">Driver Licence Information</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    </br>
                    </br>
                    <div class="col-md-12">
                        <div>
                            <img id="dlImg" src="images/driver/avatar.png" alt="" />
                            <input type='file' id="dlPic" style="display:none" />
                            <label class="color_white">Upload photo of Driver Licence</label>
                            <div class="col-md-3">
                                <input type="text" name="dl_exp_Date" id="dl_exp_Date" class="form-control input-lg" placeholder="Exp Date" ng-model="driver.dl_exp_Date" required>
                            </div>
                        </div>
                        </br>
                        <div class="col-md-12">
                            <button type="file" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="DriverLicenceUpload()" ng-disabled='form.$invalid' required>Browse &nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <label class="color_white">Limo Badge Information</label>
                    <input type="text" name="dl_exp_Date" id="dl_exp_Date" class="form-control input-lg" placeholder="Exp Date" ng-model="driver.dl_exp_Date" required>
                    <input type="text" name="limo_badge_number" id="limo_badge_number" class="form-control input-lg" placeholder="Limo Badge Number" ng-model="driver.limo_badge_number" required>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">ARA Information</label>
                    </div>
                    </br>
                    <div class="col-md-12">
                        <div>
                            <img id="araImg" src="images/driver/avatar.png" alt="" />
                            <input type='file' id="araPic" style="display:none" />
                            <label class="color_white">Upload photo of ARA Card</label>
                            <div class="col-md-3">
                                <input type="text" name="ara_exp_lDate" id="ara_exp_Date" class="form-control input-lg" placeholder="Exp Date" ng-model="driver.ara_exp_Date" required>
                            </div>
                        </div>
                        </br>
                        <div class="col-md-12">
                            <button type="file" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="ARAUpload()" ng-disabled='form.$invalid' required>Browse &nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">Insurance card</label>
                        <input type="text" name="dl_exp_Date" id="dl_exp_Date" class="form-control input-lg" placeholder="Exp Date" ng-model="driver.dl_exp_Date" required>
                    </div>
                    </br>
                    <div class="col-md-12">
                        <input type="text" name="dl_exp_Date" id="dl_exp_Date" class="form-control input-lg" placeholder="Company Name" ng-model="driver.dl_exp_Date" required>
                        <input type="text" name="dl_exp_Date" id="dl_exp_Date" class="form-control input-lg" placeholder="Policy Number" ng-model="driver.dl_exp_Date" required>
                    </div>
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 previous">
                    <button type="button" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="save_personalInfo()">Save &nbsp;<span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
                <div class="col-xs-6 next">
                    <button type="button" class="text-white btn btn-success form-group col-md-12 input-lg" ng-click="Personal_Next()">Next &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
        <form name='step3' class="form-validation mt-20 form-tp" novalidate ng-show="isVehicle">
            <h2 class="text-light text-white">vehicle Information</h2>
            <br/>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">Make</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    <div class="col-md-12">
                        <label class="color_white">Mobel</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    </br>
                </div>
            </div>
            <br/>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">Select Type</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    <div class="col-md-12">
                        <label class="color_white">Color</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    </br>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">HLL Number</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    <div class="col-md-12">
                        <label class="color_white">Licence plate #</label>
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Driver Licence #" ng-model="driver.dl_number" required>
                    </div>
                    </br>
                </div>
            </div>
            </br>
            <hr>
            <h2 class="text-light text-white">vehicle Features</h2>
            <br/>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Add A Feature" ng-model="driver.dl_number" required>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="dl_number" id="dl_number" class="form-control input-lg" placeholder="Add A Feature" ng-model="driver.dl_number" required>
                    </div>
                    </br>
                </div>
            </div>
            </br>
            <div class="col-md-12">
                <button type="button" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="submitDriverForm()" ng-disabled='form.$invalid'>Submit &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form>
        <form name='step4' class="form-validation mt-20 form-tp" novalidate ng-show="isAccount">
            <h2 class="text-light text-white">Account Options</h2>
            <br/>
            <br/>
            <div class="row">
                <div class="form-group col-md-12 mb-0">
                    <div class="col-md-12">
                        <label class="color_white">Visible</label>
                        <switch id="enabled" name="enabled" ng-model="enabled" class="green visible_status"></switch>
                        <br>{{ enabled }}
                      
                    </div>
                </div>
            </div>
            <br/>
            <hr>
            <div class="col-md-12">
                <button type="button" class=" text-light text-white btn btn-success form-group col-md-12 input-lg" ng-click="submitDriverForm()" ng-disabled='form.$invalid'>Submit &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form>
    </div>
    <br/>
</div>
