<div class="page page-form-wizard">

  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Company Settings</a>
        </li>
        <li>
          <a ui-sref="app.company.details">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <uib-tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step1:true, step2:false, step3:false, step4:false, step5: false}">

      <uib-tab active="steps.step1">

        <uib-tab-heading>
          Company Information
          <span class="badge badge-default pull-right wizard-step">1</span>
        </uib-tab-heading>

        <form name="step1" role="form" novalidate class="form-validation">
            <div class="row">
              <div class="form-group col-md-6 mb-0">
                <label for="name">Company Name: </label>
                <input type="text" name="name" id="name" class="form-control" ng-model="companyInfo.name" placeholder="Enter company name" required>
                <p class="help-block">
                  <span ng-show="step2.name.$invalid && !step2.name.$pristine">Company Name is required.</span>
                </p>
              </div>

              <div class="form-group col-md-6 mb-0">
                <label>General Email Address:</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="companyInfo.email" placeholder="Enter Email address" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                <p class="help-block">
                  <span style="color:red" ng-show="step1.email.$error.pattern">Not valid Email.</span>
               </p>
              </div>

            </div>  

            <div class="row">
              <div class="form-group col-md-6 mb-0">
                <label for="primary_phone_number">Primary Phone Number: </label>
                <input type="text" placeholder="+1-541-754-3010"  name="primary_phone_number" id="primary_phone_number" class="form-control" ng-pattern="phoneNumbr" ng-model="companyInfo.primary_phone_number" numbers-only>
                <p class="help-block">
                  <span style="color:red;" ng-show="step1.primary_phone_number.$error.minlength">Phone no not less that 10 char.</span>
                  <span style="color:red;" ng-show="step1.primary_phone_number.$error.maxlength">Phone no not more than 11 char.</span>
                  <br><span style="color:red;" ng-show="step1.primary_phone_number.$error.pattern">Please match pattern [+1-541-754-3010 || 1-541-754-3010]</span>
                </p>
              </div>

              <div class="form-group col-md-6 mb-0">
                <label for="secondary_phone_number">Secondary Phone Number: </label>
                <input type="text" name="secondary_phone_number" id="secondary_phone_number" class="form-control" ng-model="companyInfo.secondary_phone_number" ng-pattern="phoneNumbr" placeholder="Enter alternative phone number" numbers-only>
              </div>
            </div>  
            <div class="row">
               <div class="form-group col-md-6 mb-0">
                <label for="fax">Fax Number: </label>
                <input type="text" name="fax" id="fax" class="form-control" ng-model="companyInfo.fax" placeholder="Enter fax number">
                <p class="help-block">
                  <span ng-show="step2.fax.$invalid && !step2.fax.$pristine">Fax number is required.</span>
                </p>
              </div>
            </div>
           
            <button type="submit"  class="btn btn-default" ng-click="steps.step2=true" ng-disabled="step1.$invalid">Next</button>
        </form>

      </uib-tab>

      <uib-tab active="steps.step2" disable="step1.$invalid">

        <uib-tab-heading>
          Address
          <span class="badge badge-default pull-right wizard-step">2</span>
        </uib-tab-heading>

        <form name="step2" role="form" novalidate>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="country_code">Country: </label>
              <select id="country_code" class="form-control" ng-model="selected.selectedCountry" placeholder="Enter country" ng-options="country as country.name for country in countries" ng-change="GetSelectedCountry()">                  
              </select>  
            </div>
            <div class="form-group col-md-4">
              <label for="state_code">State: </label>
                <select id="state_code" class="form-control" placeholder="Enter state"  ng-model="selected.selectedState" ng-options="state as state.name for state in states">
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="city">City: </label>
              <input type="text" name="city" id="city" class="form-control" ng-model="companyInfo.city" placeholder="Enter city">
              <p class="help-block">
                <span ng-show="step2.city.$invalid && !step2.city.$pristine">City is required.</span>
              </p>
            </div>
          </div>
          <div class="row">
             <div class="form-group col-md-6 mb-0">
                <label for="street">Street: </label>
                <input type="text" name="street" id="street" class="form-control" ng-model="companyInfo.street" placeholder="Enter street address">
                <p class="help-block">
                  <span ng-show="step2.street.$invalid && !step2.street.$pristine">Street is required.</span>
                </p>            
             </div>
             <div class="form-group col-md-6 mb-0">
                <label for="zipcode">Zip Code: </label>
                <input type="text" name="zipcode" id="zipcode" class="form-control" ng-model="companyInfo.zipcode" placeholder="Enter zip code">
                <p class="help-block">
                  <span ng-show="step2.zipcode.$invalid && !step2.zipcode.$pristine">Zip Code is required.</span>
                </p>
             </div>
          </div>
          <button type="submit" class="btn btn-default" ng-click="steps.step1=true">Previous</button>
          <button type="submit"  class="btn btn-default pull-right" ng-click="steps.step3=true" ng-disabled="step2.$invalid">Next</button>
        </form>

      </uib-tab> 

      <uib-tab active="steps.step3" disable="step2.$invalid">

        <uib-tab-heading>
          Logo Upload
          <span class="badge badge-default pull-right wizard-step">3</span>
        </uib-tab-heading>

        <form name="step3" role="form" novalidate ng-submit="submitForm(step3.$valid)">

          <div class="row">
            <div class="media-container">

              <img class="media-preview" id="logo-preview" ng-model="companyInfo.logo.image" ng-src="{{companyInfo.logo.image}}"></img>
            </div>
            <div class="form-group col-md-4 mb-0" id="logo-preview">
              <label for="logo">Logo upload: </label>
               <input type="file" media-preview name="logo" id="logo" class="form-control" ng-model="companyinfo.logo">
               <!-- <input type="file" media-preview name="logo" id="logo" class="form-control" ng-model="companyInfo.logo"> -->
                <!-- <img ng-show="logo.src" ng-src="{{logo.src}}"/> -->
                <!-- <p class="help-block">
                  <span ng-show="step3.logo.$invalid && !step3.logo.$pristine">Company Logo is required.</span>
                </p> -->
            </div>  
          </div>       

          <button type="submit" class="btn btn-default" ng-click="steps.step2=true">Previous</button>
          <button type="submit" ng-disabled="step3.$invalid" class="btn btn-success pull-right">Update My Company Information

        </form>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
