.page {
  padding: 20px;
  background-color: $content-bg;
}
.page-full {
  height: 100%;
  padding: 0;
}
.page-core {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px 10px;
  background-color: #ededee;
}
.page-signup {
  position: absolute;
  width: 100%;
  padding: 0px;
  background-color: #ededee;
  //chrome
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(38, 34, 98) 0%, rgb(11, 0, 47) 100%);
}
.app-header {
  position: absolute;
  width: 100%;
  padding: 30px 10px;
  background-color: $white;
  top:0px;
  left:0px;
}


.btn-app-green{
    background-color:#8DC23F;
    border: 1px solid #000;
    border-bottom: 5px solid #55873B;
    color:#fff !important;
    font-size:15px;
    font-weight:bold;
}
.btn-app-red{
    background-color:#e31e29;
    border: 1px solid #000;
    border-bottom: 5px solid #991828;
    color:#fff !important;
    font-weight:bold;
}
.logo-blue{
   color: #436378;
}
.logo-orange{
   color: #dd8928;
}
.underline{
    text-decoration:underline;
    cursor:pointer;
    color:#000;
}

label{
  font-size:15px;
  font-weight:bold !important;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
       background-color: #fff !important;
}