<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

<uib-accordion-group is-open="status.isFirstOpen">
      <uib-accordion-heading>
        Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><fa name="dashboard"></fa> <span>{{ 'Menu.DASHBOARD' | translate }}</span></a></li>
        
       
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </uib-accordion-group>

</div>